﻿<%@ control language="C#" autoeventwireup="true" inherits="webctrls_MenuCtrl, App_Web_xyzbhd0f" %>

<span class="preload1"></span>
<span class="preload2"></span>
<ul id="nav">
    <asp:Literal ID="menuDataLCtrl" runat="server"></asp:Literal>
</ul>
