﻿<%@ control language="C#" autoeventwireup="true" inherits="webctrls_ModalPopupCtrl, App_Web_xyzbhd0f" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="ajaxControlToolkit" %>
<script language="javascript" type="text/javascript">
<!--
    var nsx;
    var nsy;
    var nstemp;

function drag_drop(name){
    temp = eval(name);
    temp.attachEvent("onmousedown", go);
    temp.attachEvent("onmousemove", drag);
    temp.attachEvent("onmouseup", stop);
}

function go(e){
    nsx = e.x;
    nsy = e.y;
}
function drag(e){
    temp.style.top = (e.x - nsx) + "px";
    temp.style.left = (e.y - nsy) + "px";
    return false;
}

function stop(){
    temp.releaseEvents(Event.MOUSEMOVE);
}

</script>
<div id="modalPopupArea" class="modalPopupOuter" align="center"></div>