﻿.popupMenu {
    visibility: hidden;
    background-color: #FFF;
    opacity: .9;
    filter: alpha(opacity=90);
    overflow-x: hidden;
    overflow-y: scroll;
    height: 120px;
    width: 200px;
    border: solid 1px #2372BE;
    border-radius: 5px;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
}

.popupHover {
    background-position: left top;
    background-color: #F5F7F8;
    width: 200px !important;
    border: solid 1px #2372BE;
    border-radius: 5px;
    height: 20px;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
}

.regularText {
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
}

.ddlMenu {
    width: 200px !important;
    overflow-y: auto;
    overflow-x: hidden;
    border: solid 1px #2372BE;
    border-radius: 5px;
    height: 20px;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
}
