﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="MenuCtrl.ascx.cs" Inherits="webctrls_MenuCtrl" %>

<span class="preload1"></span>
<span class="preload2"></span>
<ul id="nav">
    <asp:Literal ID="menuDataLCtrl" runat="server"></asp:Literal>
</ul>
