﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="EnterKioskEmptyCashCount.aspx.cs" Inherits="Account_EnterKioskEmptyCashCount" MasterPageFile="~/webctrls/AdminSiteMPage.master" %>

<%@ Register Src="../MS_Control/MultipleSelection.ascx" TagName="MultipleSelection" TagPrefix="uc1" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="ajaxControlToolkit" %>
<%@ Register Namespace="ClickableWebControl" TagPrefix="clkweb" %>

<asp:Content ID="pageContent" ContentPlaceHolderID="mainCPHolder" runat="server">
    <input type="hidden" id="pageNumRefField" runat="server" name="pageNumRefField" value="0" />
    <asp:Button ID="navigateButton" runat="server" OnClick="navigateButton_Click" CssClass="dummy" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script language="javascript" type="text/javascript">
        $(document).ready(function () { setInterval(function () { cache_clear() }, 120000); });
        function cache_clear() { window.location.reload(true); }
    </script>
    <script language="javascript" type="text/javascript">

        function editEnterKioskEmptyCashCountButtonClicked() {
            var retVal = showEnterKioskEmptyCashCount();
        }

        function transactionDateChngd() {
            //if (document.getElementById('transactionDateField').value > document.getElementById('enteredDateChngd').value) {
            //    document.getElementById('startDateField').value = document.getElementById('enteredDateChngd').value;
            //}

        }

        function enteredDateChngd() {
            //if (document.getElementById('transactionDateField').value > document.getElementById('enteredDateChngd').value) {
            //    document.getElementById('enteredDateChngd').value = document.getElementById('transactionDateField').value;
            //}
        }

        function showAlert(message) {
            var retVal = showAlertWindow(message);
        }

        function getDailyAccountActionsClicked(itemId) {
            var url = "../Account/KiosCashAcceptor.aspx?itemId=" + itemId;
            var retValue = openDialoagWindow(url, 1000, 600, "", "Kiosk Para Alımı");
        }

        function getDailyCustomerAccountsClicked(itemId) {
            var url = "../Account/KiosCashAcceptor.aspx?itemId=" + itemId + "&isActive=1";
            var retValue = openDialoagWindow(url, 700, 600, "", "Kiosk Para Alımı");
        }

        function searchButtonClicked(sender) {
            document.getElementById('pageNumRefField').value = "0";
            return true;
        }

        function showTransactionDetailClicked(transactionID) {
            var retVal = showTransactionDetailWindow(transactionID);
        }

        function postForPaging(selectedPageNum) {
            document.getElementById('pageNumRefField').value = selectedPageNum;
            document.getElementById('navigateButton').click();
        }

        function strtDateChngd() {
            if (document.getElementById('startDateField').value > document.getElementById('endDateField').value) {
                document.getElementById('startDateField').value = document.getElementById('endDateField').value;
            }

        }

        function endDateChngd() {
            if (document.getElementById('startDateField').value > document.getElementById('endDateField').value) {
                document.getElementById('endDateField').value = document.getElementById('startDateField').value;
            }
        }


        function validateNo(evt) {
            var theEvent = evt || window.event;
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
            var regex = /[0-9]/;
            if (!regex.test(key)) {
                theEvent.returnValue = false;
                if (theEvent.preventDefault) theEvent.preventDefault();
            }
        }

    </script>
    <script type="text/javascript" language="javascript" src="../js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" language="javascript" src="../js/jquery.tablednd_0_5.js"></script>

    <asp:Literal ID="scriptLiteral" runat="server"></asp:Literal>

    <div align="center">
        <div class="messageArea" id="messageArea" style="color: red" align="center" runat="server">&nbsp;</div>
        <asp:Panel ID="panel1" DefaultButton="searchButton" runat="server" BackColor="White" Width="95%" CssClass="containerPanel_95Pxauto">
            <table border="0" cellpadding="0" cellspacing="0" id="Table2" runat="server" width="90%">
                <tr>


                    <td align="left" class="inputTitle" style="width: 90px">
                        <asp:Label ID="startDateLabel" runat="server" Visible="true">Başlangıç Zamanı:</asp:Label>
                    </td>
                    <td style="width: 159px">
                        <asp:TextBox ID="startDateField" runat="server" CssClass="inputLine_150x20"
                            Width="130px"></asp:TextBox>

                        <ajaxControlToolkit:CalendarExtender ID="startDateCalendar" runat="server" TargetControlID="startDateField"
                            Format="yyyy-MM-dd HH:mm:ss" Enabled="True" DaysModeTitleFormat="yyyy-MM-dd HH:mm:ss" OnClientDateSelectionChanged="strtDateChngd">
                        </ajaxControlToolkit:CalendarExtender>
                    </td>

                   <td style="width: 18px; height: 30px;">&nbsp;&nbsp;</td>
                  


                    <td align="left" class="inputTitle" style="width: 30px; text-align: left">
                        <asp:Label ID="mercLabel" runat="server" Visible="true">Kiosk:</asp:Label></td>
                    <td style="width: 9px; height: 30px;"></td>
                    <td style="width: 9px">
                        <uc1:MultipleSelection ID="MultipleSelection1" runat="server" CssClass="inputLine_100x20" />
                    </td>

                      <td style="width: 18px; height: 30px;">&nbsp;&nbsp;</td>

                    <td align="left" class="inputTitle" style="width: 56px; height: 30px;">&nbsp;Giriş Yapan Arama:
                    </td>
                    <td style="width: 9px; height: 30px;"></td>
                    <td align="left" style="width: 157px; height: 30px;">
                        <asp:TextBox ID="txtEnteredUser" CssClass="inputLine_150x20" runat="server"></asp:TextBox>
                    </td>

                        <td style="width: 18px; height: 30px;">&nbsp;&nbsp;</td>

                   <td align="left" class="inputTitle" style="width: 56px; height: 30px;">&nbsp;Operatör Arama:
                    </td>
                   <td style="width: 18px; height: 30px;">&nbsp;&nbsp;</td>
                    <td align="left" style="width: 157px; height: 30px;">
                        <asp:TextBox ID="txtOperatorUser" CssClass="inputLine_150x20" runat="server"></asp:TextBox>
                    </td>


                </tr>

                <tr>

                      <td align="left" class="inputTitle" style="width: 70px">
                        <asp:Label ID="endDateLabel" runat="server" Visible="true">Bitiş Zamanı:</asp:Label>
                    </td>
                    <td style="width: 161px">
                        <asp:TextBox ID="endDateField" runat="server" CssClass="inputLine_150x20"
                            Width="130px"></asp:TextBox>

                        <ajaxControlToolkit:CalendarExtender ID="endDateCalendar" runat="server" TargetControlID="endDateField"
                            Format="yyyy-MM-dd HH:mm:ss" Enabled="True" DaysModeTitleFormat="yyyy-MM-dd HH:mm:ss" OnClientDateSelectionChanged="endDateChngd">
                        </ajaxControlToolkit:CalendarExtender>
                    </td>
                    
                    <td style="width: 18px; height: 30px;">&nbsp;&nbsp;</td>

                    <td align="left" class="inputTitle" style="width: 56px; height: 30px;">&nbsp;Durum Arama:
                    </td>
                    <td style="width: 9px; height: 30px;"></td>
                    <td align="left" style="width: 157px; height: 30px;">
                        <asp:TextBox ID="txtStatus" CssClass="inputLine_150x20" runat="server"></asp:TextBox>
                    </td>

                    <td style="width: 6px; height: 30px;"></td>


                    <td align="left" class="inputTitle" style="width: 56px; height: 30px;">&nbsp;Kiosk Ara:
                    </td>
                    <td style="width: 9px; height: 30px;"></td>
                    <td align="left" style="width: 157px">
                        <asp:TextBox ID="searchTextField" CssClass="inputLine_150x20" runat="server"></asp:TextBox>
                    </td>

                    <td style="width: 6px; height: 30px;"></td>

                    <td style="width: 86px; height: 30px;">
                        <asp:Button ID="searchButton" CssClass="buttonCSSDesign" runat="server" ClientIDMode="Static"
                            OnClick="searchButton_Click" Text="Ara"></asp:Button>
                    </td>

 
                </tr>
            </table>
        </asp:Panel>
    </div>
    <div>&nbsp;</div>
    <div align="center">
        <asp:Panel ID="ListPanel" runat="server" CssClass="containerPanel_95Pxauto">
            <div align="left" class="windowTitle_container_autox30">
                Hesaplar<hr style="border-bottom: 1px solid #b2b2b4;" />
            </div>
            <table cellpadding="0" cellspacing="0" width="95%" id="upTable" runat="server">
                <tr style="height: 20px">

                    <td style="width: 22px; height: 20px;">
                        <asp:ImageButton ID="excellButton" runat="server" ClientIDMode="Static" OnClick="excelButton_Click" ImageUrl="~/images/excel.jpg" />
                    </td>
                    <td style="width: 8px; height: 20px;"></td>
                    <td style="width: 200px; height: 20px;">
                        <asp:Label ID="recordInfoLabel" runat="server" Style="width: 200px; height: 20px; text-align: left" CssClass="data"></asp:Label>
                    </td>
                    <td style="height: 20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td style="height: 20px; width: 130px; text-align: right">
                        <asp:Label ID="Label1" Text="Listelenecek Kayıt Sayısı :  " runat="server" Style="width: 200px; height: 20px; text-align: left" CssClass="data"></asp:Label>
                    </td>
                    <td align="right" style="height: 20px; width: 33px">
                        <asp:TextBox ID="numberOfItemField" CssClass="inputLine_30x20_s" MaxLength="3" runat="server" onkeypress='validateNo(event)'></asp:TextBox></td>

                </tr>
                <tr>
                    <td align="center" class="tableStyle1" colspan="6">
                        <asp:UpdatePanel ID="ListUPanel" runat="server" ChildrenAsTriggers="false" UpdateMode="Conditional" RenderMode="Block">
                            <ContentTemplate>
                                <asp:Table ID="itemsTable" runat="server" CellPadding="2" CellSpacing="0" BorderWidth="0px"
                                    BorderStyle="Inset" BorderColor="White" BackColor="White" GridLines="None" CssClass="data" Width="95%">
                                    <asp:TableRow BorderColor="White" BorderWidth="1px" BorderStyle="Double" CssClass="inputTitleCell3">
                                        <asp:TableHeaderCell CssClass="inputTitleCell4" Text="#"></asp:TableHeaderCell>

                                        <clkweb:ClickableTableHeaderCell CssClass="inputTitleCell4" Text="Kiosk Adı    <img src=../images/finger.png border=0 title=Sorting /></a>" OnTableHeaderCellClicked="Sort" ID="KioskId" />
                                        <clkweb:ClickableTableHeaderCell CssClass="inputTitleCell4" Text="Sıfırlama Zamanı    <img src=../images/finger.png border=0 title=Sorting /></a>" OnTableHeaderCellClicked="Sort" ID="ResetDate" />
                                        <clkweb:ClickableTableHeaderCell CssClass="inputTitleCell4" Text="Toplam <img src=../images/finger.png border=0 title=Sorting /></a>" OnTableHeaderCellClicked="Sort" ID="Sum" />

                                        <clkweb:ClickableTableHeaderCell CssClass="inputTitleCell4" Text="200 TL    <img src=../images/finger.png border=0 title=Sorting /></a>" OnTableHeaderCellClicked="Sort" ID="FirstDenomNumber" />
                                        <clkweb:ClickableTableHeaderCell CssClass="inputTitleCell4" Text="100 TL   <img src=../images/finger.png border=0 title=Sorting /></a>" OnTableHeaderCellClicked="Sort" ID="SecondDenomNumber" />
                                        <clkweb:ClickableTableHeaderCell CssClass="inputTitleCell4" Text="50 TL    <img src=../images/finger.png border=0 title=Sorting /></a>" OnTableHeaderCellClicked="Sort" ID="ThirdDenomNumber" />
                                        <clkweb:ClickableTableHeaderCell CssClass="inputTitleCell4" Text="20 TL <img src=../images/finger.png border=0 title=Sorting /></a>" OnTableHeaderCellClicked="Sort" ID="FourthDenomNumber" />
                                        <clkweb:ClickableTableHeaderCell CssClass="inputTitleCell4" Text="10 TL   <img src=../images/finger.png border=0 title=Sorting /></a>" OnTableHeaderCellClicked="Sort" ID="FifthDenomNumber" />
                                        <clkweb:ClickableTableHeaderCell CssClass="inputTitleCell4" Text="5 TL    <img src=../images/finger.png border=0 title=Sorting /></a>" OnTableHeaderCellClicked="Sort" ID="SixthDenomNumber" />
                                        <clkweb:ClickableTableHeaderCell CssClass="inputTitleCell4" Text="1 TL   <img src=../images/finger.png border=0 title=Sorting /></a>" OnTableHeaderCellClicked="Sort" ID="SeventhDenomNumber" />
                                        <clkweb:ClickableTableHeaderCell CssClass="inputTitleCell4" Text="50 Kuruş   <img src=../images/finger.png border=0 title=Sorting /></a>" OnTableHeaderCellClicked="Sort" ID="EighthDenomNumber" />
                                        <clkweb:ClickableTableHeaderCell CssClass="inputTitleCell4" Text="25 Kuruş  <img src=../images/finger.png border=0 title=Sorting /></a>" OnTableHeaderCellClicked="Sort" ID="NinethDenomNumber" />
                                        <clkweb:ClickableTableHeaderCell CssClass="inputTitleCell4" Text="10 Kuruş   <img src=../images/finger.png border=0 title=Sorting /></a>" OnTableHeaderCellClicked="Sort" ID="TenthDenomNumber" />
                                        <clkweb:ClickableTableHeaderCell CssClass="inputTitleCell4" Text="#11 / 5 Kuruş <img src=../images/finger.png border=0 title=Sorting /></a>" OnTableHeaderCellClicked="Sort" ID="EleventhDenomNumber" />

                                        <clkweb:ClickableTableHeaderCell CssClass="inputTitleCell4" Text="Son Giriş Zamanı <img src=../images/finger.png border=0 title=Sorting /></a>" OnTableHeaderCellClicked="Sort" ID="LastEnteredDate" />
                                        <clkweb:ClickableTableHeaderCell CssClass="inputTitleCell4" Text="Güncelleme Sayısı<img src=../images/finger.png border=0 title=Sorting /></a>" OnTableHeaderCellClicked="Sort" ID="UpdateCount" />
                                        <clkweb:ClickableTableHeaderCell CssClass="inputTitleCell4" Text="Güncelleme Tarihleri <img src=../images/finger.png border=0 title=Sorting /></a>" OnTableHeaderCellClicked="Sort" ID="UpdateDate" />
                                        <clkweb:ClickableTableHeaderCell CssClass="inputTitleCell4" Text="Giriş Yapan Kişi<img src=../images/finger.png border=0 title=Sorting /></a>" OnTableHeaderCellClicked="Sort" ID="EnteredUser" />
                                        <clkweb:ClickableTableHeaderCell CssClass="inputTitleCell4" Text="Operatör<img src=../images/finger.png border=0 title=Sorting /></a>" OnTableHeaderCellClicked="Sort" ID="OperatorUser" />
                                        <clkweb:ClickableTableHeaderCell CssClass="inputTitleCell4" Text="Durum    <img src=../images/finger.png border=0 title=Sorting /></a>" OnTableHeaderCellClicked="Sort" ID="Status" />
                                    </asp:TableRow>
                                </asp:Table>

                                <tr style="height: 20px">

                                    <td class="inputTitle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td class="inputTitle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td class="inputTitle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td class="inputTitle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

                                    <td style="width: 22px; height: 20px; padding-left: 100px;">
                                        <asp:Label ID="addnewRecord" runat="server" Style="width: 200px; height: 20px; text-align: right" CssClass="data"></asp:Label>
                                    </td>
                                </tr>


                            </ContentTemplate>
                            <Triggers>
                                <asp:AsyncPostBackTrigger ControlID="navigateButton" EventName="Click" />
                            </Triggers>
                        </asp:UpdatePanel>
                        <br />
                    </td>
                </tr>


            </table>



        </asp:Panel>
    </div>
    <br />
    <table width="95%">
        <tr align="right">
            <td class="inputTitle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td class="inputTitle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td class="inputTitle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td style="width: 80px">
                <asp:Label ID="Label5" runat="server" Text="powered by" CssClass="poweredbyTitle"></asp:Label>

            </td>
            <td style="width: 100px">
                <asp:LinkButton ID="LinkButton1" href="http://www.birlesikodeme.com/" runat="server" Text="BİRLEŞİK ÖDEME" CssClass="procenneTitle"></asp:LinkButton>

            </td>
        </tr>
    </table>
</asp:Content>
