﻿.modalPopupOuter
{
    background-repeat:repeat; 
    z-index:10001;
    position:fixed;
    top:0px;
    left:0px;
    display:none;
    visibility:hidden;
    vertical-align:middle;
    padding:0px;
    margin:0px;
    width:100%;
    height:100%;    
}

.modalPopupInternal
{
    width: 460px;
    position: relative;
    border: 2px solid #8A8B8C;
    border-radius: 5px; 
}

.modalPopupTitleArea
{
    width:auto;
    height:29px;
    text-align:right;
    vertical-align:middle;
    padding-right:4px;
    background-color:#2372BE;
    border-top-right-radius:3px;
    border-top-left-radius:3px;
}

.modalPopupTitleArea_Inactive
{
    width: auto;
    height: 29px;
    text-align: right;
    vertical-align: middle;
    padding-right: 4px;
    background-color: #2372BE;
}

.modalPopupTitle
{
    width:auto;
    text-align:left;
    float:left;
    color:White;
    font-family: Tahoma, Century Gothic;
    font-size:12px;
    font-weight:bold;
    text-transform:capitalize;
    vertical-align:middle;
    padding-top:5px;
    padding-left:4px;
    
}

.modalPopupCloseButtonArea
{
    width:auto;
    float:right;
    padding-top:3px;
}
