
body {
    margin: 0px;
    background-position: center;
    background-color: #FFFEFE;
    background-repeat: repeat;
}

.menuArea {
    border-style: outset;
    padding-left: 10px;
    border-width: 0px;
    background-image: url('../images/admin_header_bg.png');
    background-repeat: repeat-x;
}

.headerTitleCell {
    border: 0px solid;
    background-image: url('../images/admin_header_bg_sub.png');
    background-repeat: repeat-x;
    height: 37px;
    width: inherit;
    text-align: left;
    padding-left: 16px;
    vertical-align: middle;
}

.pageTitleLabel {
    font-family: Century Gothic;
    font-size: 14px;
    color: #2372BE;
    font-weight: bold;
}

.pageTitleLabelll {
    font-family: Century Gothic;
    font-size: 14px;
    color: #8A8B8C;
    font-weight: bold;
}

.headerTitle {
    font-weight: bold;
    font-size: xx-large;
    font-family: Century Gothic;
    color: #8A8B8C;
}

.usernameTitle {
    font-family: Century Gothic;
    font-size: 11px;
    color: #8A8B8C;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: right;
}

.bosTitle {
    font-family: Verdana sans-serif;
    font-size: 14px;
    color: #2372BE;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}

.bosinfoTitle {
    font-family: Century Gothic;
    font-size: 11px;
    color: #45C9F5;
    text-decoration: none;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
}

.bosmailTitle {
    font-family: Century Gothic;
    font-size: 12px;
    color: #0e7c1c;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}

.poweredbyTitle {
    font-family: Century Gothic;
    font-size: 10px;
    color: #3D5264;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: right;
}

.procenneTitle {
    font-family: Century Gothic;
    font-size: 10px;
    color: #0A477C;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: right;
}


.dialogWindowTitle {
    font-family: Century Gothic;
    font-size: 12px;
    color: #8A8B8C;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 4px;
}

.windowTitle {
    font-family: Century Gothic;
    font-size: 14px;
    color: #8A8B8C;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 4px;
}

.subObjectsTitle {
    font-family: Century Gothic;
    font-size: 12px;
    color: #8A8B8C;
    text-decoration: none;
    font-weight: bold;
    height: 25px;
    width: auto;
    text-align: left;
    padding-left: 30px;
}

.buttonCSSDesign {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #3E3F41;
    text-align: center;
    overflow: auto;
    padding-top: 1px;
    display: inline-block;
    font-family: Tahoma, Century Gothic;
    color: #FFFFFF;
    font-size: 12px;
    width: 70px;
    height: 20px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: bold;
    -moz-box-shadow: 1px 1px 1px 1px #8B8D8E;
    -webkit-box-shadow: 1px 1px 1px 1px #8B8D8E;
    box-shadow: 1px 1px 1px 1px #8B8D8E;
    vertical-align: central;
}

    .buttonCSSDesign:hover {
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border: none;
        background-color: #8B8D8E;
        width: 70px;
        height: 20px;
        text-align: center;
        overflow: auto;
        padding-top: 1px;
        display: inline-block;
        font-family: Tahoma, Century Gothic;
        color: #3E3F41;
        font-size: 12px;
        text-transform: capitalize;
        text-decoration: none;
        font-weight: bold;
        -moz-box-shadow: 1px 1px 1px 1px #3E3F41;
        -webkit-box-shadow: 1px 1px 1px 1px #3E3F41;
        box-shadow: 1px 1px 1px 1px #3E3F41;
    }



.menu {
    font-weight: bold;
    font-size: 10px;
    font-family: Century Gothic;
    color: white;
    text-decoration: underline;
}

.menu1 {
    font-weight: bold;
    font-size: 11px;
    font-family: Century Gothic;
    color: white;
    text-decoration: underline;
}

    .menu1:Hover {
        font-weight: bold;
        font-size: 11px;
        font-family: Century Gothic;
        color: black;
        text-decoration: none;
        background-color: #F8DFF8;
        padding: 4px;
    }

.menuDown {
    font-weight: bold;
    font-size: 11px;
    font-family: Century Gothic;
    color: black;
    text-decoration: none;
    background-color: #F8DFF8;
    padding: 4px;
}



.menuItem {
    font-weight: bold;
    font-size: 11px;
    font-family: Century Gothic;
    color: white;
    text-decoration: none;
    background: #2B3C59;
    padding: 4px;
}

    .menuItem:Hover {
        font-weight: bold;
        font-size: 11px;
        font-family: Century Gothic;
        color: black;
        text-decoration: none;
        background-color: #F8DFF8;
        padding: 4px;
    }


.tdFooter {
    font-weight: bold;
    font-size: xx-small;
    font-family: Century Gothic;
    background-color: #E0E0E0;
    color: black;
    padding-bottom: 2px;
    padding-top: 2px;
}

.tdHeader {
    font-weight: bold;
    font-size: 10px;
    font-family: Century Gothic;
    background: #8A8B8C;
    color: black;
}

.listRow {
    font-size: 11px;
    font-family: Tahoma,Century Gothic;
    background-color: White;
    color: black;
    padding-bottom: 2px;
    padding-top: 2px;
}

.listRowRed {
    font-size: 11px;
    font-family: Tahoma,Century Gothic;
    background-color: #FE2E64;
    color: black;
    padding-bottom: 2px;
    padding-top: 2px;
}

.listRowGreen {
    font-size: 11px;
    font-family: Tahoma,Century Gothic;
    background-color: #2EFE9A;
    color: black;
    padding-bottom: 2px;
    padding-top: 2px;
}

.recordCountRow {
    font-size: 11px;
    font-family: Tahoma,Century Gothic;
    background-color: White;
    color: #FF4500;
    padding: 3px;
    text-align: right;
    vertical-align: middle;
    height: 30px;
}

.listRowAlternate {
    font-size: 11px;
    font-family: Tahoma,Century Gothic;
    background-color: #EFEFEF;
    padding-bottom: 2px;
    padding-top: 2px;
}

.listRowAlternateRed {
    font-size: 11px;
    font-family: Tahoma,Century Gothic;
    background-color: lightpink;
    padding-bottom: 2px;
    padding-top: 2px;
}

.listRowAlternateGreen {
    font-size: 11px;
    font-family: Tahoma,Century Gothic;
    background-color: #2EFE64;
    padding-bottom: 2px;
    padding-top: 2px;
}

.listRowAlternateYellow {
    font-size: 11px;
    font-family: Tahoma,Century Gothic;
    background-color: #ffd800;
    padding-bottom: 2px;
    padding-top: 2px;
}

.title {
    font-weight: bold;
    font-size: 12px;
    font-family: Century Gothic;
    color: #8A8B8C;
    visibility: hidden;
    display: none;
}


.subTitle {
    font-weight: bold;
    font-size: 11px;
    font-family: Century Gothic;
    color: #8A8B8C;
}

.loginMessageArea {
    font-family: Century Gothic;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    /*background-color: #8A8B8C;*/
    background-color: #2372BE;
    width: 95%;
    padding: 5px;
}

.text {
    font-weight: normal;
    font-size: xx-small;
    font-family: Century Gothic;
    color: black;
}

.dummy {
    display: none;
    visibility: hidden;
}

/* input fields */

.inputLine_100x20 {
    border: solid 1px #2372BE;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
    border-radius: 5px;
    text-align: center;
}


.inputLine_100x21 {
    border: solid 1px #2372BE;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
    border-radius: 5px;
    text-align: center;
    height: 300px !important;
}

.inputLine_250x40 {
    border: solid 1px #2372BE;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
    border-radius: 5px;
    text-align: left;
}

.inputLine_90x20 {
    border: solid 1px #2372BE;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
    width: 170px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    
}

.inputLine_90x20_2 {
    border: solid 1px #2372BE;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
    width: 170px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    margin:10px;
}


.inputLine_120x20 {
    border: solid 1px #2372BE;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
    width: 120px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
}

.inputLine_120x25 {
    border: solid 1px #2372BE;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
    width: 120px;
    height: 25px;
    border-radius: 5px;
    text-align: left;
}

.staticTextLine_30x20 {
    border: solid 1px #2372BE;
    font-family: Tahoma;
    font-size: 12px;
    font-weight: bold;
    width: 30px;
    height: 20px;
    border-radius: 5px;
}

.inputLine_150x20 {
    border: solid 1px #2372BE;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
    width: 150px;
    height: 20px;
    border-radius: 5px;
    margin-left: 18px;
}

.inputLine_150x20_2 {
    border: solid 1px #2372BE;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
    width: 150px;
    height: 20px;
    border-radius: 5px;
    /*margin-left: 18px;*/
}

.inputLine_150x20_3 {
    border: solid 1px #2372BE;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
    width: 150px;
    height: 18px;
    border-radius: 5px;
    /*margin-left: 18px;*/
}

.inputLine_30x20_s {
    border: solid 1px #2372BE;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
    width: 30px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
}

.inputLine_285x20 {
    border: solid 1px #2372BE;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
    width: 285px;
    height: 20px;
    border-radius: 5px;
    margin-left: 0px;
}

.inputLine_375x20 {
    border: solid 1px #2372BE;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
    width: 375px;
    height: 20px;
    border-radius: 5px;
    margin-left: 3px;
}

.inputLine_410x20 {
    border: solid 1px #2372BE;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
    width: 410px;
    height: 20px;
    border-radius: 5px;
    margin-left: 3px;
}

.staticTextLine_200x20 {
    border: solid 1px #2372BE;
    font-family: Tahoma;
    font-size: 10px;
    font-weight: bold;
    width: 200px;
    height: 20px;
    border-radius: 5px;
}

.staticTextLine_200x20_2 {
    font-family: Century Gothic;
    font-size: 11px;
    font-weight: bold; /*background-color:#F1F1F1;*/
   
    width: auto;
    height:16px;
    width:170px;
    border: solid 1px #2372BE;
    border-radius: 5px;
}

.staticTextLine_200x20_2 {
    font-family: Century Gothic;
    font-size: 11px;
    font-weight: bold; /*background-color:#F1F1F1;*/
   
    width: auto;
    height:16px;
    width:100px;
    border: solid 1px #2372BE;
    border-radius: 1px;

     padding: 5px;
}


.abv {
    border: solid 1px #2372BE;
    font-family: Tahoma;
    font-size: 10px;
    font-weight: bold;
    width: 200px;
    height: 12px;
    border-radius: 5px;
}


.staticTextLine_250x20 {
    border: solid 1px #2372BE;
    font-family: Tahoma;
    font-size: 14px;
    font-weight: bold;
    width: 250px;
    height: 20px;
    border-radius: 5px;
}

.staticTextLine_60x30 {
    border: solid 1px #2372BE;
    font-family: Tahoma;
    font-size: 12px;
    font-weight: bold;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    padding-bottom: 5px;
}


.staticTextLine_100x30 {
    border: solid 1px #2372BE;
    font-family: Tahoma;
    font-size: 12px;
    font-weight: bold;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    padding-bottom: 5px;
}

.staticTextLine_80x25 {
    border: solid 1px #2372BE;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: bold;
    width: 80px;
    height: 25px;
    border-radius: 5px;
    margin-top: 5px;
}

.staticTextLine_200x20 {
    border: solid 1px #2372BE;
    font-family: Tahoma;
    font-size: 12px;
    font-weight: bold;
    width: 190px;
    height: 20px;
    border-radius: 5px;
    padding-bottom: 5px;
}

.inputLine_190x20 {
    border: solid 1px #2372BE;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
    width: 190px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
}

.inputLine_50x20_with_border {
    border: solid 1px #2372BE;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
    width: 50px;
    height: 20px;
    border-radius: 5px;
}

.inputLine_50x20_with_no_border {
    border: solid 0px #2372BE;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
    width: 50px;
    height: 20px;
    border-radius: 5px;
}

.selectBox_150x20 {
    border: solid 1px #2372BE;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
    width: 150px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
}

.inputTitle {
    font-weight: bold;
    font-size: 11px;
    font-family: Century Gothic;
    color: #8A8B8C;
    border: 0px outset white;
}

.selectBox {
    border: solid 1px #2372BE;
    font-family: Century Gothic;
    font-size: 10px;
    font-weight: bold;
    width: 200px;
    border-radius: 5px;
}

.selectBox2 {
    border: solid 1px #2372BE;
    font-family: Century Gothic;
    font-size: 10px;
    font-weight: bold;
    width: 200px;
    border-radius: 5px;
}


.button {
    border-style: outset;
    border-width: 1px;
    font-family: Century Gothic;
    font-size: 12px;
    font-weight: bold;
}

/* input fields */
.anyLink {
    font-family: Century Gothic;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    Color: #760E83;
}

    .anyLink:Visited {
        font-family: Century Gothic;
        font-size: 10px;
        font-weight: bold;
        text-decoration: underline;
    }

.link {
    Color: #0084b4;
    font-family: Century Gothic;
    font-size: 11px;
    font-weight: bold;
    text-decoration: underline;
}

.messageArea {
    font-family: Century Gothic;
    font-weight: bold;
    font-size: 14px;
    color: #D13C3C;
    width: auto;
}

.messageArea2 {
    font-family: Century Gothic;
    font-weight: bold;
    font-size: 14px;
    color: #8A8B8C;
    padding: 5px;
    width: auto;
}

.tabLinkCell {
    font-weight: bold;
    font-size: 10px;
    color: black;
    font-family: Century Gothic;
    background-color: darkgray;
    text-decoration: none;
    cursor: hand;
}

.tabLinkActiveCell {
    font-weight: bold;
    font-size: 10px;
    color: black;
    font-family: Century Gothic;
    background-color: gainsboro;
    text-decoration: underline;
    cursor: hand;
}

.listRowSelectible {
    background-color: White;
    cursor: pointer;
    font-weight: normal;
    font-size: 11px;
    font-family: Tahoma,Century Gothic;
    color: black;
    height: 25px;
    border: 0px inset white;
}

    .listRowSelectible:hover {
        background-color: #FFFF99;
        color: #6666FF;
    }


.listRowAlternateSelectible {
    background-color: #C0C0C0;
    cursor: pointer;
    font-weight: normal;
    font-size: 11px;
    font-family: Tahoma,Century Gothic;
    color: black;
    height: 25px;
    border: 0px inset white;
}

    .listRowAlternateSelectible:hover {
        background-color: #CCCCFF;
        cursor: pointer;
    }


.inputTitleCell2 {
    font-family: Century Gothic;
    font-size: 11px;
    font-weight: bold; /*background-color:#F1F1F1;*/
    background-color: #dcdcdc;
    width: auto;
}

.inputTitleCellEmpty {
    font-family: Century Gothic;
    font-size: 11px;
    font-weight: bold; /*background-color:#F1F1F1;*/
     background-color: #FFFFFF;
    width: auto;
     
}

.inputTitleCell9_v4 {
    font-family: Century Gothic;
    font-size: 11px;
    font-weight: bold; /*background-color:#F1F1F1;*/
    background-color: #ebebf5;
    width: auto;
    height:16px;
    width:200px;
    text-align:center;
}


.inputTitleCell9 {
    font-family: Century Gothic;
    font-size: 11px;
    font-weight: bold; /*background-color:#F1F1F1;*/
    background-color: #ebebf5;
    width: auto;
    height:16px;
    width:170px;
}

.inputTitleCell9_v2 {
    font-family: Century Gothic;
    font-size: 11px;
    font-weight: bold; /*background-color:#F1F1F1;*/
   
    width: auto;
    height:25px;
    width:125px;
    border-style:Ridge;
   
}

.inputTitleCell9_v3 {
    font-family: Century Gothic;
    font-size: 11px;
    font-weight: bold; /*background-color:#F1F1F1;*/
    
    width: auto;
    height:16px;
    width:110px;
    text-align:left;
    border-style:Ridge;
   
}

.inputTitleCell9_text_align_center {
    font-family: Century Gothic;
    font-size: 11px;
    font-weight: bold; /*background-color:#F1F1F1;*/
    background-color: #ebebf5;
    width: auto;
    height:16px;
    width:170px;
    text-align:center;
}

.inputTitleCell5 {
    font-family: Century Gothic;
    font-size: 12px;
    font-weight: bold; /*background-color:#F1F1F1;*/
    background-color: #F1F1F1;
    width: auto;
}


.inputTitleCell123 {
    font-family: Century Gothic;
    font-size: 12px;
    font-weight: bold; /*background-color:#F1F1F1;*/
    width: auto;
}

.inputTitleCell122 {
    font-family: Century Gothic;
    font-size: 11px;
    font-weight: bold; /*background-color:#F1F1F1;*/
}

.inputTitleCell3 {
    font-family: Century Gothic, Tahoma;
    font-size: 11px;
    font-weight: bold; /*background-color:#F1F1F1;*/
    color: White;
    background-color: #2372BE;
    //height: 25px;
    text-align: center;
}
 

.inputTitleCell3vR {
    font-family: Century Gothic, Tahoma;
    font-size: 11px;
    font-weight: bold; /*background-color:#F1F1F1;*/
    color: White;
    background-color: #FE2E64;
    //height: 20px;
    text-align: center;
}

.inputTitleCell99 {
    font-family: Century Gothic, Tahoma;
    font-size: 11px;
    font-weight: bold; /*background-color:#F1F1F1;*/
    color: black;
    background-color: #CEF6F5;
    height: 20px;
    text-align: center;
}

.inputTitleCell98 {
    font-family: Century Gothic, Tahoma;
    font-size: 11px;
    font-weight: bold; /*background-color:#F1F1F1;*/
    color: black;
    background-color: #2372BE;
    height: 20px;
    text-align: center;
}

.inputTitleCell4 {
    border: 1px solid white;
    /*text-align:left;*/
}

.inputTitleCell4v1 {
    border: 1px solid white;
    text-align: left;
    */;
}


.inputTitleCell6 {
    border: 1px solid white;
    /*text-align:left;*/
    width:100px;
}

.inputTitleCellLogs {
    border: 1px solid white;
    overflow: hidden;
    width: 500px;
}

.inputTitleCell4Red {
    border: 1px solid white;
    background-color: #F7819F;
}

.inputTitleCellLightBlue {
    border: 1px solid white;
    background-color: navy;
}

.inputTitleCell4Green {
    border: 1px solid white;
    background-color: #A9F5A9;
}

.inputTitleCell4Yellow {
    border: 1px solid white;
    background-color: #ffd800;
}

.inputTitleCell4Orange {
    border: 1px solid white;
    background-color: #F58442;
}

.inputTitleCell8 {
    border: 1px solid white;
    background-color: #4FC6FE;
}

.inputTitleCell7 {
    border: 1px solid white;
    background-color: #FFFFFF;
}

.data {
    font-family: Tahoma,Century Gothic;
    font-size: 11px;
    font-weight: normal;
    text-align: center;
}

.dataLogs {
    font-family: Tahoma,Century Gothic;
    font-size: 11px;
    font-weight: normal;
    text-align: center;
    table-layout: fixed;
    width: 900px;
}

.sectionTitle {
    font-weight: bold;
    font-size: 10px;
    color: #8A8B8C;
    font-style: normal;
    font-family: Century Gothic;
}


.title2 {
    font-family: Century Gothic;
    font-size: 11px;
    font-style: normal;
    color: black;
}

.inputTitleCell {
    font-weight: bold;
    font-size: 10px;
    font-family: Century Gothic;
    background: Gainsboro;
    color: black;
}

.modalPopupLayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/transparent_bg.png");
    border: 3px solid #8A8B8C;
}

.tableStyle1 {
    background-image: url('../images/orta_bg.png');
    background-repeat: repeat;
    width: auto;
    height: 253px;
    vertical-align: top;
    padding-top: 15px;
}

.tableStyle2 {
    background-image: url('../images/orta_bg.png');
    background-repeat: repeat;
    width: auto;
    height: 180px;
    vertical-align: top;
    padding-top: 15px;
}

.searchCriteriaArea {
    margin-top: 10px;
    margin-bottom: 10px;
}

.cornerTop {
    vertical-align: top;
    background-color: White;
    width: 9px;
    height: 9px;
}

.cornerBottom {
    vertical-align: bottom;
    background-color: White;
    width: 9px;
    height: 9px;
}

.textBox {
    height: 20px;
    width: 131px;
    padding-left: 8px;
    vertical-align: top;
    background-image: url('../images/textbox.png');
    background-repeat: no-repeat;
}

.textBox_290 {
    height: 20px;
    width: 290px;
    padding-left: 8px;
    vertical-align: top;
    background-image: url('../images/textbox_290.png');
    background-repeat: no-repeat;
}

.textBox_170x20 {
    height: 20px;
    width: 170px;
    padding-left: 8px;
    vertical-align: top;
    background-image: url('../images/textbox_170.png');
    background-repeat: no-repeat;
}

.textBox_small {
    height: 20px;
    width: 50px;
    padding-left: 8px;
    vertical-align: top;
    background-image: url('../images/textbox_small.png');
    background-repeat: no-repeat;
}

.textBox_170x100_no_bg {
    height: 100px;
    width: 170px;
    vertical-align: top;
    font-family: Tahoma, Century Gothic;
    font-size: 8px;
}

.button_layer {
    background-image: url("../images/button_bg.png");
    background-repeat: no-repeat;
    width: 75px;
    height: 27px;
    text-align: center;
    overflow: auto;
    padding-top: 6px;
    display: inline-block;
}

.buttonLink {
    font-family: Tahoma, Century Gothic;
    color: #8A8B8C;
    font-size: 12px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: bold;
}

    .buttonLink:HOVER {
        color: #8A8B8C;
    }

/* container panels */
.containerPanel_550xauto {
    background-color: White;
    width: 550px;
    height: auto;
}

.containerPanel_350Pxauto {
    background-color: White;
    width: 350px;
    height: auto;
    border: 0px solid white;
    border-radius: 5px;
    -moz-box-shadow: 3px 3px 5px 3px #b2b2b4;
    -webkit-box-shadow: 3px 3px 5px 3px #b2b2b4;
    box-shadow: 3px 3px 5px 3px #b2b2b4;
}


.upleftContainer { width:400px; height: 500px; background:red; float:left; }
.uprightContainer { width:400px; height:500px; background:blue; float:left }


.windowTitle_container_autox30 {
    font-family: Century Gothic, Tahoma;
    font-size: 12px;
    color: #8A8B8C;
    text-decoration: none;
    font-weight: bold;
    width: auto;
    vertical-align: middle;
    border: 0px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
   
}

.windowTitle_container_autox3011 {
    font-family: Century Gothic, Tahoma;
    font-size: 14px;
    color: #8A8B8C;
    text-decoration: none;
    font-weight: bold;
    width: auto;
    vertical-align: middle;
    border: 0px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.buttonContainer_550xauto {
    background-color: White;
    width: 550px;
    height: auto;
    margin-top: 15px;
    background-color: transparent;
}


.containerPanel_450xauto {
    background-color: White;
    width: 450px;
    height: auto;
}

.containerPanel_95Pxauto {
    background-color: White;
    border: 0px solid white;
    border-radius: 5px;
    -moz-box-shadow: 3px 3px 5px 3px #b2b2b4;
    -webkit-box-shadow: 3px 3px 5px 3px #b2b2b4;
    box-shadow: 3px 3px 5px 3px #b2b2b4;
    margin-top: 0px;
    margin-bottom: 27px;
}

.containerPanel_95Pxauto_noShadow {
    background-color: White;
    width: 95%;
    height: auto;
}

 
/* container panels */

.buttonContainer_450xauto {
    background-color: White;
    width: 450px;
    height: auto;
    margin-top: 15px;
    background-color: transparent;
}

.deleteButton {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url('../images/delete.png');
    border: 0px solid navy;
    text-decoration: none;
}

    .deleteButton:HOVER {
        background-image: url('../images/delete_over.png');
    }

.notFoundButton {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url('../images/notfound2.png');
    border: 0px solid navy;
    text-decoration: none;
}

    .notFoundButton:HOVER {
        background-image: url('../images/notfound2.png');
    }

.approveButton {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url('../images/approve.png');
    border: 0px solid navy;
    text-decoration: none;
}

    .approveButton:HOVER {
        background-image: url('../images/approve.png');
    }

.deleteDisabledButton {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url('../images/delete_disabled.png');
    border: 0px solid navy;
    text-decoration: none;
}

.editButton {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url('../images/edit.png');
    border: 0px solid navy;
    text-decoration: none;
}

    .editButton:HOVER {
        background-image: url('../images/edit_over.png');
    }

.editDisabledButton {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url('../images/edit_disabled.png');
    border: 0px solid navy;
    text-decoration: none;
}



.generateCodeButton {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url('../images/generate.png');
    border: 0px solid navy;
    text-decoration: none;
}

.generateCondRedirectButton {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url('../images/kioskcond.png');
    border: 0px solid navy;
    text-decoration: none;
}

.successStatus {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url('../images/success.png');
    border: 0px solid navy;
    text-decoration: none;
}

.faultStatus {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url('../images/fault.png');
    border: 0px solid navy;
    text-decoration: none;
}

.generateMoneyCodeRedirectButton {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url('../images/isMoneyCode.png');
    border: 0px solid navy;
    text-decoration: none;
}

.generateChangeCompleteStatus {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url('../images/MakeConfirmation.png');
    border: 0px solid navy;
    text-decoration: none;
}

.generateCancelButton {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url('../images/cancelTnx.png');
    border: 0px solid navy;
    text-decoration: none;
}

    .generateCancelButton:HOVER {
        background-image: url('../images/cancelTnx.png');
    }

.generateCodeButton:HOVER {
    background-image: url('../images/generate_over.png');
}

.generateCondRedirectButton:HOVER {
    background-image: url('../images/kioskcond.png');
}

.generateMoneyCodeRedirectButton:HOVER {
    background-image: url('../images/isMoneyCode.png');
}

 

.generateCardFixRedirectButton {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url('../images/kioskCard.png');
    border: 0px solid navy;
    text-decoration: none;
}


.sendSMSButton {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url('../images/sms.gif');
    border: 0px solid navy;
    text-decoration: none;
}

    .sendSMSButton:HOVER {
        background-image: url('../images/sms.gif');
    }

.detailCodeButton {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url('../images/detail.png');
    border: 0px solid navy;
    text-decoration: none;
}

.detailCodeButtonOver {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url('../images/detail_over.png');
    border: 0px solid navy;
    text-decoration: none;
}

.detailCodeButton:HOVER {
    background-image: url('../images/detail_over.png');
}

.accountCodeButton {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url('../images/account.png');
    border: 0px solid navy;
    text-decoration: none;
}

.accountCodeButtonOver {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url('../images/account_over.png');
    border: 0px solid navy;
    text-decoration: none;
}

.accountCodeButton:HOVER {
    background-image: url('../images/account_over.png');
}


.approvedCodeButton {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url('../images/mutabakat.png');
    border: 0px solid navy;
    text-decoration: none;
}

.approvedCodeButtonOver {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url('../images/mutabakat_over.png');
    border: 0px solid navy;
    text-decoration: none;
}

.approvedCodeButton:HOVER {
    background-image: url('../images/mutabakat_over.png');
}




.changePasswordButton {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url('../images/chngPas.png');
    border: 0px solid navy;
    text-decoration: none;
}

    .changePasswordButton:HOVER {
        background-image: url('../images/chngPas_over.png');
    }


.changePasswordDisabledButton {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url('../images/chngPas_disabled.png');
    border: 0px solid navy;
    text-decoration: none;
}

.addNewButton {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url('../images/add.png');
    border: 0px solid navy;
    text-decoration: none;
}

    .addNewButton:HOVER {
        background-image: url('../images/add_over.png');
    }

/* modal pop-up */



.dumpBox {
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
    border: 1px solid #cfcacc;
    border-radius: 5px;
}

/* jquery sort */

.myDragClass {
    font-size: 10px;
    font-family: Verdana;
    background-color: #8A8B8C;
    padding-bottom: 2px;
    padding-top: 2px;
    color: Black;
}

.auto-style10 {
    width: 175px;
}

.auto-style11 {
    font-weight: bold;
    font-size: 11px;
    font-family: Century Gothic;
    color: #5B5B5C;
    border: 0px outset white;
    width: 191px;
}

.auto-style12 {
    width: 123px;
}

.auto-style13 {
    font-weight: bold;
    font-size: 11px;
    font-family: Century Gothic;
    color: #5B5B5C;
    border: 0px outset white;
    width: 123px;
}

