﻿body {
	background-color: #F1EEE8;
	font-family: Century Gothic, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;

}

td {
	font-family: Century Gothic,Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

pre {
	font-family: Century Gothic,Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}


th {
	font-family: Century Gothic,Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
}