/* ================================================================ 
This copyright notice must be kept untouched in the stylesheet at 
all times.

The original version of this stylesheet and the associated (x)html
is available at http://www.stunicholls.com/menu/pro_drop_2.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved.
This stylesheet and the associated (x)html may be modified in any 
way to fit your requirements.
=================================================================== */

#nav {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 50px;
    position: relative;
    z-index: 500;
    font-family: Century Gothic,Tahoma;
    border-left: 1px solid #F8DFF8;
}

    #nav li.top {
        display: block;
        float: left;
        height: 50px;
    }

    #nav li a.top_link {
        display: block;
        float: left;
        height: 47px;
        line-height: 45px;
        text-decoration: none;
        font-size: 15px;
        padding: 0 0 0 0px;
        cursor: pointer;
        color: #3E3F41;
        font-weight: bold;
    }

        #nav li a.top_link span {
            float: left;
            display: block;
            padding: 3px 40px 0 40px;
            height: 47px;
            border-right: 1px solid #3E3F41;
        }

            #nav li a.top_link span.down {
                float: left;
                display: block;
                padding: 3px 40px 0 40px;
                height: 47px;
                border-right: 1px solid #3E3F41;
            }

    #nav li:hover a.top_link {
        color: #8A8B8C;
    }

        #nav li:hover a.top_link span {
            border: 1px solid #8C918A;
        }

            #nav li:hover a.top_link span.down {
                -webkit-border-radius: 8px;
                -moz-border-radius: 8px;
                border-radius: 8px;
                font-weight: bold;
                color: #F8F9FB;
                border: 2px solid #3E3F41;
                background: #3E3F41;
            }

    /* srknpkr */
    /* Default list styling */

    #nav li:hover {
        position: relative;
        z-index: 200;
    }

        #nav li:hover ul.sub {
            left: 1px;
            top: 50px;
            background: #FAFDFD;
            border: 1px solid #cbcbcb;
            white-space: nowrap;
            width: 200px;
            height: auto;
            z-index: 300;
        }

            #nav li:hover ul.sub li {
                display: block;
                height: 30px;
                position: relative;
                float: left;
                width: 200px;
                font-weight: normal;
                border-bottom: 1px solid #cbcbcb;
                font-weight: bold;
            }

                #nav li:hover ul.sub li a {
                    display: block;
                    font-size: 12px;
                    height: 30px;
                    width: 200px;
                    line-height: 30px;
                    text-indent: 5px;
                    color: #575757;
                    text-decoration: none;
                    font-weight: bold;
                }

    #nav li ul.sub li a.fly {
        background: #FFFEFE url(../images/arrow.gif) 190px 10px no-repeat;
        border-bottom: 1px solid #cbcbcb;
    }

    #nav li:hover ul.sub li a:hover {
        background: #3E3F41;
        color: #F8F9FB;
        border-color: #3E3F41;
        font-weight: bold;
    }

    #nav li:hover ul.sub li a.fly:hover {
        background: #8A8B8C url(../images/arrow_over.gif) 190px 10px no-repeat;
        color: white;
        border-color: #cbcbcb;
    }


    #nav li:hover li:hover ul, #nav li:hover li:hover li:hover ul, #nav li:hover li:hover li:hover li:hover ul, #nav li:hover li:hover li:hover li:hover li:hover ul {
        left: 200px;
        top: -1px;
        background: #FFFEFE;
        padding: 0px;
        border: 1px solid #cbcbcb;
        white-space: nowrap;
        width: 200px;
        z-index: 400;
        height: auto;
    }

        #nav ul, #nav li:hover ul ul, #nav li:hover li:hover ul ul, #nav li:hover li:hover li:hover ul ul, #nav li:hover li:hover li:hover li:hover ul ul {
            position: absolute;
            left: -9999px;
            top: -9999px;
            width: 0;
            height: 0;
            margin: 0;
            padding: 0;
            list-style: none;
        }

    #nav li:hover li:hover a.fly, #nav li:hover li:hover li:hover a.fly, #nav li:hover li:hover li:hover li:hover a.fly, #nav li:hover li:hover li:hover li:hover li:hover a.fly {
        background: #575757 url(../images/arrow_over.gif) 190px 10px no-repeat;
        color: white;
        border-color: #cbcbcb;
    }

    #nav li:hover li:hover li a.fly, #nav li:hover li:hover li:hover li a.fly, #nav li:hover li:hover li:hover li:hover li a.fly {
        background: #FFFEFE url(../images/arrow.gif) 190px 10px no-repeat;
        color: #575757;
        border-color: #cbcbcb;
    }
