﻿.main-navigation{
	width:auto;
	height:50px;
	border:0px solid #a2d2cf;
	background: left repeat-x;
	/*margin:-22px 0 0 -445px;*/
	}
	
ul{
	margin:0px;
	padding:0px;
	list-style:none;
	
	}
	
li{
	float:left;
	font-size:13px;
	font-family:Century Gothic, Tahoma;
	color:#575757;
	display:block;
	position:relative;
	height:50px;	
	}
	
	
.firstRootMenuItem
{
    border-right:1px solid #cbcbcb;
	border-left:1px solid #cbcbcb;
	padding:16px 43px 20px 44px;
}

.rootMenuItem
{
    border-right:1px solid #cbcbcb;
	border-left:0px solid #cbcbcb;
	padding:16px 43px 20px 44px;
}
	
	
li .hover
{
    font-size:15px;
	font-family:Century Gothic, Tahoma;
	color:#8A8B8C;
	text-decoration:none;	
	background:  top left no-repeat;
	z-index:0;
	height:44px;
	display:none;
	position:absolute;
	left:0px;
	top:0px;
	}

li a{
	display:block;
	color:#575757;
	text-decoration:none;
	padding:14px 43px 13px 44px;
	z-index:1000;	
	position:relative;
	}
	
	li a:HOVER
	{
	   color:#8A8B8C;
	}
	
ul li ul{
	width:200px;
	position:absolute;
	display:none;
	padding:0px 0 0 0;
	box-shadow: 1px 1px 1px #888; 
	z-index:1001;
	}
	
ul li:hover ul{
	
	display:block;

	}
	
ul li ul li{
	display:block;
	padding:10px 10px 10px 0;
	width:200px;
	padding:0px;
	margin:0px;
	background: left repeat-x;
	background-color:#eeeeee;
	position:relative;
	font-size:12px;
	font-family:Century Gothic, Tahoma;
	border-bottom:1px solid #cbcbcb;
	border-right:0px solid #cbcbcb;
	border-left:0px solid #cbcbcb;
	height:auto;
	text-transform:capitalize;
    word-break:keep-all;
	}
	
ul li ul li a{
	display:block;
	color:#575757;
	text-decoration:none;
	padding:14px 43px 13px 28px;
	z-index:1000;	
	position:relative;
	}
	
	ul li ul li a:HOVER
{
    background-color: #666666;
    color:White;
    font-weight:bold;
}
