
body {
    margin: 0px;
    background-position: center;
    background-color: #FFFEFE;
    background-repeat: repeat;
}

.menuArea {
    border-style: outset;
    padding-left: 10px;
    border-width: 0px;
    background-image: url('../images/admin_header_bg.png');
    background-repeat: repeat-x;
}

.headerTitleCell {
    border: 0px solid;
    background-image: url('../images/admin_header_bg_sub.png');
    background-repeat: repeat-x;
    height: 37px;
    width: inherit;
    text-align: left;
    padding-left: 16px;
    vertical-align: middle;
}

.pageTitleLabel {
    font-family: Century Gothic;
    font-size: 14px;
    color: #2372BE;
    font-weight: bold;
}

.pageTitleLabelll {
    font-family: Century Gothic;
    font-size: 14px;
    color: #8A8B8C;
    font-weight: bold;
}

.headerTitle {
    font-weight: bold;
    font-size: xx-large;
    font-family: Century Gothic;
    color: #8A8B8C;
}

.usernameTitle {
    font-family: Century Gothic;
    font-size: 11px;
    color: #8A8B8C;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    text-align:right;
}

.bosTitle {
    font-family: Verdana sans-serif;
    font-size: 14px;
    color: #F58442;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    text-align:center;
}

.bosinfoTitle {
    font-family: Century Gothic;
    font-size: 11px;
    color: #45C9F5;
    text-decoration: none;
    font-weight: normal;
    letter-spacing: 1px;
    text-align:center;
}

.bosmailTitle {
    font-family: Century Gothic;
    font-size: 12px;
    color: #F58442;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    text-align:center;
}

.poweredbyTitle {
    font-family: Century Gothic;
    font-size: 10px;
    color: #3D5264;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    text-align:right;
}

.procenneTitle {
    font-family: Century Gothic;
    font-size: 12px;
    color: #0A477C;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    text-align:right;
}


.dialogWindowTitle {
    font-family: Century Gothic;
    font-size: 12px;
    color: #8A8B8C;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 4px;
}

.windowTitle {
    font-family: Century Gothic;
    font-size: 14px;
    color: #8A8B8C;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 4px;
}

.subObjectsTitle {
    font-family: Century Gothic;
    font-size: 12px;
    color: #8A8B8C;
    text-decoration: none;
    font-weight: bold;
    height: 25px;
    width: auto;
    text-align: left;
    padding-left: 30px;
}

.buttonCSSDesign {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #3E3F41;
    text-align: center;
    overflow: auto;
    padding-top: 1px;
    display: inline-block;
    font-family: Tahoma, Century Gothic;
    color: #FFFFFF;
    font-size: 12px;
    width: 70px;
    height: 20px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: bold;
    -moz-box-shadow: 1px 1px 1px 1px #8B8D8E;
    -webkit-box-shadow: 1px 1px 1px 1px #8B8D8E;
    box-shadow: 1px 1px 1px 1px #8B8D8E;
    vertical-align: central;
}

    .buttonCSSDesign:hover {
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border: none;
        background-color: #8B8D8E;
        width: 70px;
        height: 20px;
        text-align: center;
        overflow: auto;
        padding-top: 1px;
        display: inline-block;
        font-family: Tahoma, Century Gothic;
        color: #3E3F41;
        font-size: 12px;
        text-transform: capitalize;
        text-decoration: none;
        font-weight: bold;
        -moz-box-shadow: 1px 1px 1px 1px #3E3F41;
        -webkit-box-shadow: 1px 1px 1px 1px #3E3F41;
        box-shadow: 1px 1px 1px 1px #3E3F41;
    }



.menu {
    font-weight: bold;
    font-size: 10px;
    font-family: Century Gothic;
    color: white;
    text-decoration: underline;
}

.menu1 {
    font-weight: bold;
    font-size: 11px;
    font-family: Century Gothic;
    color: white;
    text-decoration: underline;
}

    .menu1:Hover {
        font-weight: bold;
        font-size: 11px;
        font-family: Century Gothic;
        color: black;
        text-decoration: none;
        background-color: #F8DFF8;
        padding: 4px;
    }

.menuDown {
    font-weight: bold;
    font-size: 11px;
    font-family: Century Gothic;
    color: black;
    text-decoration: none;
    background-color: #F8DFF8;
    padding: 4px;
}



.menuItem {
    font-weight: bold;
    font-size: 11px;
    font-family: Century Gothic;
    color: white;
    text-decoration: none;
    background: #2B3C59;
    padding: 4px;
}

    .menuItem:Hover {
        font-weight: bold;
        font-size: 11px;
        font-family: Century Gothic;
        color: black;
        text-decoration: none;
        background-color: #F8DFF8;
        padding: 4px;
    }


.tdFooter {
    font-weight: bold;
    font-size: xx-small;
    font-family: Century Gothic;
    background-color: #E0E0E0;
    color: black;
    padding-bottom: 2px;
    padding-top: 2px;
}

.tdHeader {
    font-weight: bold;
    font-size: 10px;
    font-family: Century Gothic;
    background: #8A8B8C;
    color: black;
}

.listRow {
    font-size: 11px;
    font-family: Tahoma,Century Gothic;
    background-color: White;
    color: black;
    padding-bottom: 2px;
    padding-top: 2px;
}

.recordCountRow {
    font-size: 11px;
    font-family: Tahoma,Century Gothic;
    background-color: White;
    color: #FF4500;
    padding: 3px;
    text-align: right;
    vertical-align: middle;
    height: 30px;
}

.listRowAlternate {
    font-size: 11px;
    font-family: Tahoma,Century Gothic;
    background-color: #EFEFEF;
    padding-bottom: 2px;
    padding-top: 2px;
}

.title {
    font-weight: bold;
    font-size: 12px;
    font-family: Century Gothic;
    color: #8A8B8C;
    visibility: hidden;
    display: none;
}


.subTitle {
    font-weight: bold;
    font-size: 11px;
    font-family: Century Gothic;
    color: #8A8B8C;
}

.loginMessageArea {
    font-family: Century Gothic;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    /*background-color: #8A8B8C;*/
    background-color: #2372BE;
    width: 95%;
    padding: 5px;
}

.text {
    font-weight: normal;
    font-size: xx-small;
    font-family: Century Gothic;
    color: black;
}

.dummy {
    display: none;
    visibility: hidden;
}

/* input fields */

.inputLine_100x20 {
    border: solid 1px #2372BE;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
    width: 140px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
}

.inputLine_90x20 {
    border: solid 1px #2372BE;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
    width: 90px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
}

.inputLine_120x20 {
    border: solid 1px #2372BE;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
    width: 120px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
}

.inputLine_120x25 {
    border: solid 1px #2372BE;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
    width: 120px;
    height: 25px;
    border-radius: 5px;
    text-align: left;
}

.staticTextLine_30x20 {
    border: solid 1px #2372BE;
    font-family: Tahoma;
    font-size: 12px;
    font-weight: bold;
    width: 30px;
    height: 20px;
    border-radius: 5px;
}

.inputLine_150x20 {
    border: solid 1px #2372BE;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
    width: 150px;
    height: 20px;
    border-radius: 5px;
    margin-left: 18px;
}

.inputLine_30x20_s {
    border: solid 1px #2372BE;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
    width: 30px;
    height: 20px;
    border-radius: 5px;
    text-align:center;
}
.inputLine_285x20 {
    border: solid 1px #2372BE;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
    width: 285px;
    height: 20px;
    border-radius: 5px;
    margin-left: 0px;
}

.staticTextLine_200x20 {
    border: solid 1px #2372BE;
    font-family: Tahoma;
    font-size: 10px;
    font-weight: bold;
    width: 200px;
    height: 20px;
    border-radius: 5px;
}

.staticTextLine_60x30 {
    border: solid 1px #2372BE;
    font-family: Tahoma;
    font-size: 12px;
    font-weight: bold;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    padding-bottom:5px;
}

.staticTextLine_80x25 {
    border: solid 1px #2372BE;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: bold;
    width: 80px;
    height: 25px;
    border-radius: 5px;
    margin-top:5px;
}

.staticTextLine_200x20 {
    border: solid 1px #2372BE;
    font-family: Tahoma;
    font-size: 12px;
    font-weight: bold;
    width: 190px;
    height: 20px;
    border-radius: 5px;
    padding-bottom:5px;
}

.inputLine_190x20 {
    border: solid 1px #2372BE;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
    width: 190px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
}

.inputLine_50x20_with_border {
    border: solid 1px #2372BE;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
    width: 50px;
    height: 20px;
    border-radius: 5px;
}

.inputLine_50x20_with_no_border {
    border: solid 0px #2372BE;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
    width: 50px;
    height: 20px;
    border-radius: 5px;
}

.selectBox_150x20 {
    border: solid 1px #2372BE;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
    width: 150px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
}

.inputTitle {
    font-weight: bold;
    font-size: 11px;
    font-family: Century Gothic;
    color: #8A8B8C;
    border: 0px outset white;
}

.selectBox {
    border: solid 1px #2372BE;
    font-family: Century Gothic;
    font-size: 10px;
    font-weight: bold;
    width: 200px;
    border-radius: 5px;
}

.selectBox2 {
    border: solid 1px #2372BE;
    font-family: Century Gothic;
    font-size: 10px;
    font-weight: bold;
    width: 200px;
    border-radius: 5px;
}


.button {
    border-style: outset;
    border-width: 1px;
    font-family: Century Gothic;
    font-size: 12px;
    font-weight: bold;
}

/* input fields */
.anyLink {
    font-family: Century Gothic;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    Color: #760E83;
}

    .anyLink:Visited {
        font-family: Century Gothic;
        font-size: 10px;
        font-weight: bold;
        text-decoration: underline;
    }

.link {
    Color: #0084b4;
    font-family: Century Gothic;
    font-size: 11px;
    font-weight: bold;
    text-decoration: underline;
}

.messageArea {
    font-family: Century Gothic;
    font-weight: bold;
    font-size: 14px;
    color: #D13C3C;
    width: auto;
}

.messageArea2 {
    font-family: Century Gothic;
    font-weight: bold;
    font-size: 14px;
    color: #8A8B8C;
    padding: 5px;
    width: auto;
}

.tabLinkCell {
    font-weight: bold;
    font-size: 10px;
    color: black;
    font-family: Century Gothic;
    background-color: darkgray;
    text-decoration: none;
    cursor: hand;
}

.tabLinkActiveCell {
    font-weight: bold;
    font-size: 10px;
    color: black;
    font-family: Century Gothic;
    background-color: gainsboro;
    text-decoration: underline;
    cursor: hand;
}

.listRowSelectible {
    background-color: White;
    cursor: pointer;
    font-weight: normal;
    font-size: 11px;
    font-family: Tahoma,Century Gothic;
    color: black;
    height: 25px;
    border: 0px inset white;
}

    .listRowSelectible:hover {
        background-color: #FFFF99;
        color: #6666FF;
    }


.listRowAlternateSelectible {
    background-color: #C0C0C0;
    cursor: pointer;
    font-weight: normal;
    font-size: 11px;
    font-family: Tahoma,Century Gothic;
    color: black;
    height: 25px;
    border: 0px inset white;
}

    .listRowAlternateSelectible:hover {
        background-color: #CCCCFF;
        cursor: pointer;
    }


.inputTitleCell2 {
    font-family: Century Gothic;
    font-size: 11px;
    font-weight: bold; /*background-color:#F1F1F1;*/
    background-color: #dcdcdc;
    width: auto;
}

.inputTitleCell3 {
    font-family: Century Gothic, Tahoma;
    font-size: 11px;
    font-weight: bold; /*background-color:#F1F1F1;*/
    color: White;
    background-color: #2372BE;
    height: 25px;
    text-align: center;
}

.inputTitleCell3 {
    font-family: Century Gothic, Tahoma;
    font-size: 11px;
    font-weight: bold; /*background-color:#F1F1F1;*/
    color: White;
    background-color: #2372BE;
    height: 20px;
    text-align: center;
}

.inputTitleCell99 {
    font-family: Century Gothic, Tahoma;
    font-size: 11px;
    font-weight: bold; /*background-color:#F1F1F1;*/
    color: black;
    background-color: #CEF6F5;
    height: 20px;
    text-align: center;
}

.inputTitleCell4 {
    border: 1px solid white;
}

.inputTitleCell8 {
    border: 1px solid white;
    background-color: #4FC6FE;
}

.inputTitleCell7 {
    border: 1px solid white;
     background-color: #FFFFFF;
}

.data {
    font-family: Tahoma,Century Gothic;
    font-size: 11px;
    font-weight: normal;
    text-align: center;
}

.sectionTitle {
    font-weight: bold;
    font-size: 10px;
    color: #8A8B8C;
    font-style: normal;
    font-family: Century Gothic;
}


.title2 {
    font-family: Century Gothic;
    font-size: 11px;
    font-style: normal;
    color: black;
}

.inputTitleCell {
    font-weight: bold;
    font-size: 10px;
    font-family: Century Gothic;
    background: Gainsboro;
    color: black;
}

.modalPopupLayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/transparent_bg.png");
    border: 3px solid #8A8B8C;
}

.tableStyle1 {
    background-image: url('../images/orta_bg.png');
    background-repeat: repeat;
    width: auto;
    height: 253px;
    vertical-align: top;
    padding-top: 15px;
}

.searchCriteriaArea {
    margin-top: 10px;
    margin-bottom: 10px;
}

.cornerTop {
    vertical-align: top;
    background-color: White;
    width: 9px;
    height: 9px;
}

.cornerBottom {
    vertical-align: bottom;
    background-color: White;
    width: 9px;
    height: 9px;
}

.textBox {
    height: 20px;
    width: 131px;
    padding-left: 8px;
    vertical-align: top;
    background-image: url('../images/textbox.png');
    background-repeat: no-repeat;
}

.textBox_290 {
    height: 20px;
    width: 290px;
    padding-left: 8px;
    vertical-align: top;
    background-image: url('../images/textbox_290.png');
    background-repeat: no-repeat;
}

.textBox_170x20 {
    height: 20px;
    width: 170px;
    padding-left: 8px;
    vertical-align: top;
    background-image: url('../images/textbox_170.png');
    background-repeat: no-repeat;
}

.textBox_small {
    height: 20px;
    width: 50px;
    padding-left: 8px;
    vertical-align: top;
    background-image: url('../images/textbox_small.png');
    background-repeat: no-repeat;
}

.textBox_170x100_no_bg {
    height: 100px;
    width: 170px;
    vertical-align: top;
    font-family: Tahoma, Century Gothic;
    font-size: 8px;
}

.button_layer {
    background-image: url("../images/button_bg.png");
    background-repeat: no-repeat;
    width: 75px;
    height: 27px;
    text-align: center;
    overflow: auto;
    padding-top: 6px;
    display: inline-block;
}

.buttonLink {
    font-family: Tahoma, Century Gothic;
    color: #8A8B8C;
    font-size: 12px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: bold;
}

    .buttonLink:HOVER {
        color: #8A8B8C;
    }

/* container panels */
.containerPanel_550xauto {
    background-color: White;
    width: 550px;
    height: auto;
}

.containerPanel_350Pxauto {
    background-color: White;
    width: 350px;
    height: auto;
    border: 0px solid white;
    border-radius: 5px;
    -moz-box-shadow: 3px 3px 5px 3px #b2b2b4;
    -webkit-box-shadow: 3px 3px 5px 3px #b2b2b4;
    box-shadow: 3px 3px 5px 3px #b2b2b4;
}


.windowTitle_container_autox30 {
    font-family: Century Gothic, Tahoma;
    font-size: 14px;
    color: #8A8B8C;
    text-decoration: none;
    font-weight: bold;
    width: auto;
    vertical-align: middle;
    border: 0px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.windowTitle_container_autox3011 {
    font-family: Century Gothic, Tahoma;
    font-size: 14px;
    color: #8A8B8C;
    text-decoration: none;
    font-weight: bold;
    width: auto;
    vertical-align: middle;
    border: 0px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.buttonContainer_550xauto {
    background-color: White;
    width: 550px;
    height: auto;
    margin-top: 15px;
    background-color: transparent;
}


.containerPanel_450xauto {
    background-color: White;
    width: 450px;
    height: auto;
}

.containerPanel_95Pxauto {
    background-color: White;
    width: 95%;
    height: auto;
    border: 0px solid white;
    border-radius: 5px;
    -moz-box-shadow: 3px 3px 5px 3px #b2b2b4;
    -webkit-box-shadow: 3px 3px 5px 3px #b2b2b4;
    box-shadow: 3px 3px 5px 3px #b2b2b4;
}

.containerPanel_95Pxauto_noShadow {
    background-color: White;
    width: 95%;
    height: auto;
}
/* container panels */

.buttonContainer_450xauto {
    background-color: White;
    width: 450px;
    height: auto;
    margin-top: 15px;
    background-color: transparent;
}

.deleteButton {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url('../images/delete.png');
    border: 0px solid navy;
    text-decoration: none;
}

    .deleteButton:HOVER {
        background-image: url('../images/delete_over.png');
    }

    .approveButton {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url('../images/approve.png');
    border: 0px solid navy;
    text-decoration: none;
}

    .approveButton:HOVER {
        background-image: url('../images/approve.png');
    }

.deleteDisabledButton {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url('../images/delete_disabled.png');
    border: 0px solid navy;
    text-decoration: none;
}

.editButton {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url('../images/edit.png');
    border: 0px solid navy;
    text-decoration: none;
}

    .editButton:HOVER {
        background-image: url('../images/edit_over.png');
    }

.editDisabledButton {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url('../images/edit_disabled.png');
    border: 0px solid navy;
    text-decoration: none;
}



.generateCodeButton {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url('../images/generate.png');
    border: 0px solid navy;
    text-decoration: none;
}

    .generateCodeButton:HOVER {
        background-image: url('../images/generate_over.png');
    }

    .detailCodeButton {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url('../images/detail.png');
    border: 0px solid navy;
    text-decoration: none;
}

    .detailCodeButton:HOVER {
        background-image: url('../images/detail_over.png');
    }


.changePasswordButton {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url('../images/chngPas.png');
    border: 0px solid navy;
    text-decoration: none;
}

    .changePasswordButton:HOVER {
        background-image: url('../images/chngPas_over.png');
    }


.changePasswordDisabledButton {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url('../images/chngPas_disabled.png');
    border: 0px solid navy;
    text-decoration: none;
}

.addNewButton {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url('../images/add.png');
    border: 0px solid navy;
    text-decoration: none;
}

    .addNewButton:HOVER {
        background-image: url('../images/add_over.png');
    }

/* modal pop-up */



.dumpBox {
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
    border: 1px solid #cfcacc;
    border-radius: 5px;
}

/* jquery sort */

.myDragClass {
    font-size: 10px;
    font-family: Verdana;
    background-color: #8A8B8C;
    padding-bottom: 2px;
    padding-top: 2px;
    color: Black;
}

.auto-style10 {
    width: 175px;
}

.auto-style11 {
    font-weight: bold;
    font-size: 11px;
    font-family: Century Gothic;
    color: #5B5B5C;
    border: 0px outset white;
    width: 191px;
}

.auto-style12 {
    width: 123px;
}

.auto-style13 {
    font-weight: bold;
    font-size: 11px;
    font-family: Century Gothic;
    color: #5B5B5C;
    border: 0px outset white;
    width: 123px;
}
